.textPrimary {
  color: #006f73;
}
/* Start Heros */
.hero-two {
  position: relative;
  background-image: url(../assets/hero2.jpeg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.hero-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
.hero-content {
  position: relative;
  z-index: 3 !important;
}

.callUs {
  background: transparent;
  border: #006f73 3px solid !important ;
  color: #006f73;
}
/* End Heros */

/* Start Navbar */
/* Target the dropdown toggle arrow and change it to white */
/* Target the nav links within the Navbar specifically */
/* Default color for all nav links */
.navbar-nav .nav-link {
  color: #bebcbc !important;
  transition: color 0.3s ease-in-out; /* Smooth transition for hover or active state */
}

/* Change color on hover */
.navbar-nav .nav-link:hover {
  color: #006f73 !important;
}

/* Change color for active link */
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:active {
  color: #006f73 !important;
  font-weight: bold !important; /* Optional: Make active links bold */
}

/*End Navbar */

/* Start Home */
.fixed-buttons {
  position: fixed;
  bottom: 10px; /* Distance from the bottom of the screen */
  right: 10px; /* Distance from the left of the screen */
  display: flex; /* Align buttons horizontally or vertically */
  flex-direction: column; /* Stack buttons vertically */
  gap: 10px; /* Space between the buttons */
}

.fixed-buttons .btn {
  padding: 10px 20px; /* Button padding */
  font-size: 16px; /* Adjust button font size */
  border-radius: 5px; /* Optional: Rounded corners */
}

.Appointment {
  position: relative;
  background-image: url(../assets/form.jpeg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  height: auto;
}
.Appointment::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}
.form-content {
  position: relative;
  z-index: 3 !important;
}
.package-card {
  min-height: 820px;
  display: inline-block;
}
.swiperHome .swiper-wrapper {
  display: flex;
  gap: 20px;
  overflow: hidden;
  padding-left: 10px;
}
.book-white {
  border-radius: 6px;
  border-color: #006f73;
  background: white;
  width: 203px;
}
.book-dark {
  color: white;
  border-color: rgb(255, 255, 255);
  border-radius: 6px;
  background: #006f73;
  width: 203px;
}
/* End Home */

/* Start Contact US */
.data,
.data-right,
.person {
  background-color: #fcfcfc !important;
}
.icon {
  color: #006f73;
} /* End Contact US */
/*  //////////////////////*/
html[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] {
  direction: ltr;
  text-align: left;
}
